.the_big{
    /* background-color: red; */
    text-align: center;
}
.cart{
    background-color: yellow;
    width: 20%;
    height: 20px;

}

.SERVICE{
    /* background-color: blue; */
    width: 33.33333333%;
    float: left;
    text-align: center;
}
.clear_fix{
    clear:both
}